<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>INSPINIA</title>
  
    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <!-- Wrapper-->
    <div id="wrapper" class="ng-scope">
      <!-- Navigation -->
      <%= render 'layouts/navigation' %>
      <!-- Page wraper -->
      <div id="page-wrapper" class="gray-bg dashboards.dashboard_1" style="min-height: 870px;">
        <!-- Page wrapper -->
        <%= render 'layouts/topnavbar' %>
        <!-- Main view  -->
        <%= params[:controller] %> , <%= params[:action] %>
        <% if alert %>
        <div class="alert alert-danger">
          <%= alert %>
        </div>
        <% end %>
        <%= yield %>
        <!-- Footer -->
        <%= render 'layouts/footer' %>
      </div>
      <!-- End page wrapper-->
    </div>
    <!-- End wrapper-->
  </body>
</html>
